
/* Typography
================================= */

h1 {
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 5em;
	color: #5f5d60;
}
h2 {
	font-size: 2em;
	color: #5f5d60;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
strong {
	color: #5f5d60;
}

/* Layout
================================= */

.ft {
	margin-bottom: 72px;
}
.ft-copy {
	padding-top: 32px;
}
.ft-copy p { 
	width: 90%;
}
.panel {
	background-image: url('../img/form-panel-bg.png');
	background-repeat: repeat-x;
	border-bottom: solid 1px #eee;
	padding: 36px 0;
	margin: 80px 0 12px 0;
}


/* Form
================================= */

.guess-txt {
	padding: 24px 12px;
	width: 90%;
	margin: 0px 0 2px 0;
}
.btn-submit {
	color: inherit;
	font-size: 1.6em;
	background: transparent;
	position: absolute;
	right: 55px;
	bottom: 3px;
}


/* Buttons
================================= */

.btn-default {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
	padding: 12px 22px;
}
.btn-default:hover {
	background-color: #fff;
	color: #957bba;
	border-color: #fff;
}
.btn:active {
	box-shadow: none;
}
.panel .btn-default:hover {
	background-color: #ccc;
	color: #f7f7f7;
	border-color: #ccc;
}
